.editor-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--color-bg);
}

.editor-body {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
  margin-top: 50px; /* altura del Topbar */
}
